[Unit]
Description=Timer for stopping OBS

[Timer]
Unit=obs-stream-stop.service
# Sunrise time between 5pm to 9pm
OnCalendar=*-*-* 17:00:00
AccuracySec=1min

[Install]
WantedBy=timers.target
