[Unit]
Description=Start up OBS stream
#StopWhenUnneeded=True

[Service]
Type=forking
TimeoutSec=4h
#RemainAfterExit=true
StandardOutput=journal
ExecStart=%h/bin/obs-launch

[Install]
WantedBy=default.target
