[Unit]
Description=End of the day, stop stream and exit OBS
#StopWhenUnneeded=True

[Service]
#Type=oneshot
#RemainAfterExit=true
StandardOutput=journal
ExecStart=/home/coopstream/bin/obs-shutdown

[Install]
WantedBy=default.target
